flask
https://devgagan.in/wp-content/uploads/2023/12/gagantelethon.zip
cryptg
tgcrypto
Pyrogram==2.0.106
psutil
opencv-python-headless
python-decouple
requests==2.31.0
speedtest-cli
TgCrypto==1.2.5
aiohttp==3.8.4
aiofiles
pytz
